<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <section id="why">
        	<div class="inner">
        		<header class="major">
        			<h2>Cosa sono i Digital Twins?</h2>
        		</header>
        		<p>I Digital Twins (gemelli digitali) sono modelli IA che possono replicare specifici comportamenti umani permettendo di simulare utenti di social media o e-commerce, audience o mercati interi. L'utilizzo di un Digital Twin permette di risparmiare sui costi notevoli delle tecniche tradizionali di previsioni commerciali e di engagement del pubblico agevolando anche le imprese più piccole all'accesso di insights data-driven.</p>
        		<ul class="actions">
        			<li><a href="generic.html" class="button next">Scopri come un Digital Twin può aiutare la tua impresa!</a></li>
        		</ul>
        	</div>
        </section>

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Quanto sono affidabili i Digital Twins?</h2>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="landing.html" class="button next">Scopri i progetti</a></li>
                </ul>
            </div>
        </section>

        <section>
		<a href="generic.html" class="image">
			<img src="{% link assets/images/pic08.jpg %}" alt="" data-position="center center" />
		</a>
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>Chi sono?</h3>
				</header>
				<p>Le buyer personas digitali ti permettono di:</p>
				<ul class="actions">
					<li><a href="generic.html" class="button">Il mio CV</a></li>
				</ul>
			</div>
		</div>
	</section>

    </div>

    {% include footer.html %}

</body>

</html>
